includes:
    - phpstan-baseline.neon

parameters:
    level: 8

    paths:
        - src
    excludes_analyse:
        # temporarily ignore template files
        - src/Resources/**.tpl.php
    checkGenericClassInNonGenericObjectType: false
